@import "../../helpers";
.sf-checkbox {  
  &__container {   
     position: relative;
    display: flex;
    align-items: center;
    padding: var(--checkbox-padding);
    width: var(--checkbox-container-width);
    cursor: var(--checkbox-cursor, pointer);
  }
  &__checkmark {
    box-sizing: border-box;
    display: var(--checkbox-display, flex);
    align-items: center;
    justify-content: center;
    order: var(--checkbox-order);
    width: var(--checkbox-size, 1.5rem);
    height: var(--checkbox-size, 1.5rem);
    @include border(--checkbox-border, 1px, solid, var(--c-gray-variant));
    border-radius: var(--checkbox-border-radius);
    background: var(--checkbox-background, transparent);
    transition: background 150ms linear, border-color 150ms linear;
    &:hover {
      --checkbox-border-color: var(--c-primary);
      .sf-checkbox--has-error & {
        --checkbox-border-color: var(--c-danger);
      }
      .sf-checkbox--is-disabled & {
        --checkbox-border-color: var(--c-text-disabled);
      }
    }
  }
  &__label {
    flex: 1;
    margin: var(--checkbox-label-margin, 0 0 0 var(--spacer-sm));
    color: var(--checkbox-label-color, var(--c-text));
    @include font(
      --checkbox-font,
      var(--font-medium),
      var(--font-xs),
      1.6,
      var(--font-family-secondary)
    );
  }
  &--is-active {
    --checkbox-border-color: var(--c-primary);
    --checkbox-background: var(--c-primary);
    &.sf-checkbox--has-error {
      --checkbox-border-color: var(--c-danger);
      --checkbox-background: var(--c-danger);
    }
    &.sf-checkbox--is-disabled {
      --checkbox-border-color: var(--c-text-disabled);
      --checkbox-background: var(--c-text-disabled);
    }
  }
  &--is-disabled {
    --checkbox-label-color: var(--c-text-disabled);
    --checkbox-border-color: var(--c-text-disabled);
  }
  input {    
    position: absolute;    
    opacity: 0;
    left: -1000%;
    width: 1px;
    height: 1px;
    &[style*="outline: none"]:focus + .sf-checkbox__checkmark {
      outline: none;
    }
    &:focus + .sf-checkbox__checkmark {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }
  }
}
