@import "../../helpers";
.sf-mega-menu-column {
  --list-item-padding: var(--spacer-sm) var(--spacer-sm) var(--spacer-sm)
    var(--spacer-lg);
  margin: var(--mega-menu-margin);
  &__title {
    margin: var(--mega-menu-column-title-margin);
    padding: var(--mega-menu-column-title-padding, var(--spacer-sm));
    text-transform: var(--mega-menu-column-title-text-transform);
    @include font(
      --mega-menu-column-title-font,
      var(--font-medium),
      var(--font-base),
      1.4,
      var(--font-family-secondary)
    );
    @include border(
      --mega-menu-column-title-border,
      0 0 1px 0,
      solid,
      var(--c-light)
    );
    text-align: var(--mega-menu-column-title-text-align, left)
  }
  @include for-desktop {
    --list-item-padding: 0;
    --list-item-margin: var(--spacer-base) 0;
    --mega-menu-column-title-border-width: 0;
    --mega-menu-margin: 0 var(--spacer-2xl) 0 0;
    --mega-menu-column-title-padding: 0;
    --mega-menu-column-title-margin: 0 0 var(--spacer-base) 0;
    --mega-menu-column-title-text-transform: uppercase;
  }
}
.sf-mega-menu {
  --list-item-padding: var(--spacer-sm);
  --list-item-border-width: 0 0 1px 0;
  overflow: var(--mega-menu-overflow, hidden);
  width: var(--mega-menu-width, 100%);
  height: var(--mega-menu-height, 100%);
  background-color: var(--mega-menu-background, var(--c-white));
  &__content {
    display: var(--mega-menu-section-display, flex);
    justify-content: space-between;
    max-width: var(--mega-menu-content-width, 77.5rem);
    margin: var(--mega-menu-content-margin, auto);
    padding: var(--mega-menu-content-padding);
    transform: var(--mega-menu-content-transform);
    transition: var(
      --mega-menu-content-transition,
      transform 150ms ease-in-out
    );
    &--is-active {
      --mega-menu-content-transform: translate3d(-100%, 0, 0);
    }
  }
  &__aside,
  &__menu {
    overflow: auto;
    box-sizing: border-box;
    flex: var(--mega-menu-section-flex, 0 0 100%);
    height: var(--mega-menu-aside-menu-height, 100%);
    padding: var(--mega-menu-section-padding, 0);
  }
  &__aside {
    --menu-item-font-weight: var(--font-medium);
    --menu-item-font-size: var(--font-base);
    --menu-item-label-color: var(--c-text);
    order: var(--mega-menu-aside-order);
  }
  &__menu {
    display: var(--mega-menu-menu-display);
  }
  &__aside-title {
    display: var(--mega-menu-aside-title-display, none);
    margin: var(--mega-menu-aside-title-margin, 0 0 var(--spacer-base) 0);
    padding: var(--mega-menu-aside-title-padding);
    text-transform: var(--mega-menu-aside-title-text-transform);
    @include font(
      --mega-menu-column-title-font,
      var(--font-medium),
      var(--font-base),
      1.4,
      var(--font-family-secondary)
    );
  }
  &__aside-content {
    padding: var(--mega-menu-aside-content-padding, var(--spacer-base));
  }
  @include for-desktop {
    --list-item-border-width: 0;
    --mega-menu-height: auto;
    --mega-menu-content-padding: var(--spacer-xl) 0;
    --mega-menu-aside-order: 1;
    --mega-menu-menu-display: flex;
    --mega-menu-section-flex: 0 0 auto;
    --mega-menu-aside-content-padding: 0;
    --mega-menu-aside-title-display: block;
    --mega-menu-aside-title-text-transform: uppercase;
    &__content {
      &--is-active {
        --mega-menu-content-transform: translate3d(0, 0, 0);
      }
    }
  }
}
